@model Parents.Domain.Children

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Children</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BloodInformation.BloodInformationDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BloodInformation.BloodInformationDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentsMatrimonialState.MatrimonialStateDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentsMatrimonialState.MatrimonialStateDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildrenFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildrenFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildrenMiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildrenMiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildrenLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildrenLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildrenIdentityCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildrenIdentityCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildrenBirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildrenBirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildrenFamilyDoctor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildrenFamilyDoctor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildrenEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildrenEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildrenMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildrenMobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildrenAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildrenAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentSchool)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentSchool)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SchoolContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SchoolContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FatherId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MotherId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotherId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChildrenId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
