@model Parents.Domain.ParentalManagement.Helpers.ChildSupportVisitType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChildSupportVisitType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChildSupportVisitTypeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildSupportVisitTypeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildSupportVisitTypeRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildSupportVisitTypeRemarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChildSupportVisitTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
