@model Parents.Domain.Parent

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Parent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParentFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentMiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentMiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentIdentityCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentIdentityCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentBirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentBirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentMobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ParentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
