@model Parents.Domain.HealthManagement.Disease

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Disease</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiseaseFamily.DiseaseFamilyDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiseaseFamily.DiseaseFamilyDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiseaseType.DiseaseTypeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiseaseType.DiseaseTypeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicine.MedicineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicine.MedicineName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicineDosage.MedicineDosageDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicineDosage.MedicineDosageDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicinePharmaceuticalForm.MedicinePharmaceuticalFormDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicinePharmaceuticalForm.MedicinePharmaceuticalFormDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiseaseDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiseaseDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateDiagnosed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateDiagnosed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCured)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCured)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasGeneticOrigin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasGeneticOrigin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTreatable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsTreatable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasAssociatedMedicines)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasAssociatedMedicines)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
