@model Parents.Domain.SchoolManagement.Helpers.Discipline

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Discipline</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DisciplineDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisciplineDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisciplineRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisciplineRemarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DisciplineId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
