@model IEnumerable<Parents.Domain.HealthManagement.PhysicalCharacteristic>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HumanBodyAreas.HumanBodyAreaDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhysicalCharacteristicType.PhysicalCharacteristicTypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhysicalCharacteristicDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HumanBodyAreas.HumanBodyAreaDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhysicalCharacteristicType.PhysicalCharacteristicTypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhysicalCharacteristicDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PhysicalCharacteristicId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PhysicalCharacteristicId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PhysicalCharacteristicId })
        </td>
    </tr>
}

</table>
