@model Parents.Domain.ParentalManagement.Helpers.MatrimonialState

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MatrimonialState</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MatrimonialStateDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatrimonialStateDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatrimonialStateRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatrimonialStateRemarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MatrimonialStateId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
