@model Parents.Domain.ParentalManagement.Helpers.ParentalGuardTerm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ParentalGuardTerm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParentalGuardTermDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentalGuardTermDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentalGuardTermRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentalGuardTermRemarks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ParentalGuardTermId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
