@model Parents.Domain.ParentalManagement.Helpers.ChildSupportVisit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ChildSupportVisit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChildSupportVisitType.ChildSupportVisitTypeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildSupportVisitType.ChildSupportVisitTypeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildSupportVisitDateStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildSupportVisitDateStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildSupportVisitDateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildSupportVisitDateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChildSupportVisitRecordedIncidents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChildSupportVisitRecordedIncidents)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChildSupportVisitId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
