@model IEnumerable<Parents.Domain.ParentalManagement.Helpers.ChildSupportVisit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChildSupportVisitType.ChildSupportVisitTypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChildSupportVisitDateStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChildSupportVisitDateEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChildSupportVisitRecordedIncidents)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChildSupportVisitType.ChildSupportVisitTypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChildSupportVisitDateStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChildSupportVisitDateEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChildSupportVisitRecordedIncidents)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChildSupportVisitId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChildSupportVisitId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChildSupportVisitId })
        </td>
    </tr>
}

</table>
