@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul class="nav navbar-nav">

    <li>@Html.ActionLink("ItemsCategory", "Index", "ItemsCategories")</li>
    <li>@Html.ActionLink("AlergyTypes", "Index", "AlergyTypes")</li>
    <li>@Html.ActionLink("BloodInformations", "Index", "BloodInformations")</li>
    <li>@Html.ActionLink("ActivitiesFamily", "Index", "ActivitiesFamily")</li>
    <li>@Html.ActionLink("ActivitiesInstitutionType", "Index", "ActivitiesInstitutionType")</li>
    <li>@Html.ActionLink("ActivitiesPeriodicity", "Index", "ActivitiesPeriodicity")</li>
    <li>@Html.ActionLink("ActivitiesType", "Index", "ActivitiesType")</li>
    <li>@Html.ActionLink("ItemsCategories", "Index", "ItemsCategories")</li>

    <li>@Html.ActionLink("AlergyTypes", "Index", "AlergyTypes")</li>
    <li>@Html.ActionLink("BloodInformations", "Index", "BloodInformations")</li>
    <li>@Html.ActionLink("DiseasesFamilies", "Index", "DiseasesFamilies")</li>
    <li>@Html.ActionLink("DiseasesTypes", "Index", "DiseasesTypes")</li>
    <li>@Html.ActionLink("HumanBodiesAreas", "Index", "HumanBodiesAreas")</li>
    <li>@Html.ActionLink("MedicalInstitutionsP", "Index", "MedicalInstitutionsP")</li>
    <li>@Html.ActionLink("MedicineDosages", "Index", "MedicineDosages")</li>
    <li>@Html.ActionLink("MedicinePharmaceuticalForms", "Index", "MedicinePharmaceuticalForms")</li>
    <li>@Html.ActionLink("Medicines", "Index", "Medicines")</li>
    <li>@Html.ActionLink("PhysicalCharacteristicTypes", "Index", "PhysicalCharacteristicTypes")</li>
    <li>@Html.ActionLink("UrgencyCategories", "Index", "UrgencyCategories")</li>
    <li>@Html.ActionLink("UrgencySeverities", "Index", "UrgencySeverities")</li>

    <li>@Html.ActionLink("ChildSupportVisitTypes", "Index", "ChildSupportVisitTypes")</li>
    <li>@Html.ActionLink("MatrimonialStates", "Index", "MatrimonialStates")</li>
    <li>@Html.ActionLink("ParentalGuardTerms", "Index", "ParentalGuardTerms")</li>
    <li>@Html.ActionLink("ParentalTypes", "Index", "ParentalTypes")</li>

    <li>@Html.ActionLink("AcademicYears", "Index", "AcademicYears")</li>
    <li>@Html.ActionLink("Disciplines", "Index", "Disciplines")</li>
    <li>@Html.ActionLink("ExamFamilies", "Index", "ExamFamilies")</li>

    <li>@Html.ActionLink("TaskFamilies", "Index", "TaskFamilies")</li>

    <li>@Html.ActionLink("ManagementTypes", "Index", "ManagementTypes")</li>

    <li>@Html.ActionLink("Treatments", "Index", "Treatments")</li>
</ul>