@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul class="nav navbar-nav">

    <li>@Html.ActionLink("ItemsCategory", "Index", "ItemsCategories")</li>
    <li>@Html.ActionLink("AlergyTypes", "Index", "AlergyTypes")</li>
    <li>@Html.ActionLink("BloodInformations", "Index", "BloodInformations")</li>

</ul>