@model Parents.Domain.HealthManagement.Urgency

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Urgency</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MedicalInstitutions.MedicalInstitutionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalInstitutions.MedicalInstitutionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ParentInCharge.ParentFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentInCharge.ParentFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrgencyCategory.UrgencyCategoryDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrgencyCategory.UrgencyCategoryDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrgencySeverity.UrgencySeverityDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrgencySeverity.UrgencySeverityDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrgencyDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrgencyDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrgencyDateIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrgencyDateIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrgencyDateOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrgencyDateOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UrgencyStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UrgencyStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UrgencyId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
