@model IEnumerable<Parents.Domain.HealthManagement.Categories.DiseaseType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DiseaseFamily.DiseaseFamilyDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiseaseTypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiseaseRemarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiseaseExternalLink)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DiseaseFamily.DiseaseFamilyDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiseaseTypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiseaseRemarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiseaseExternalLink)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DiseaseTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DiseaseTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DiseaseTypeId })
        </td>
    </tr>
}

</table>
