<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nome do aplicativo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>


                <div class="navbar-collapse collapse">
                    @*<ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Início", "Index", "Home")</li>
                        <li>@Html.ActionLink("Childrens", "Index", "Childrens")</li>
                        <li>@Html.ActionLink("ItemToBuy", "Index", "ItemsToBuy")</li>
                        <li>@Html.ActionLink("Parents", "Index", "Parents")</li>
                        <li>@Html.ActionLink("ChildManagements", "Index", "ChildManagements")</li>
                        <li>@Html.ActionLink("Activities", "Index", "Activities")</li>
                        <li>@Html.ActionLink("Alergies", "Index", "Alergies")</li>
                        <li>@Html.ActionLink("Diseases", "Index", "Diseases")</li>
                        <li>@Html.ActionLink("PhysicalCharacteristics", "Index", "PhysicalCharacteristics")</li>
                        <li>@Html.ActionLink("Urgencies", "Index", "Urgencies")</li>
                        <li>@Html.ActionLink("ChildSupportPayments", "Index", "ChildSupportPayments")</li>
                        <li>@Html.ActionLink("ChildSupportVisits", "Index", "ChildSupportVisits")</li>
                        <li>@Html.ActionLink("Exams", "Index", "Exams")</li>
                        <li>@Html.ActionLink("ParentsMeetings", "Index", "ParentsMeetings")</li>
                        <li>@Html.ActionLink("Schools", "Index", "Schools")</li>
                        <li>@Html.ActionLink("Settings","Settings","Home")</li>
                    </ul>*@

                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Dropdown
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li>@Html.ActionLink("Início", "Index", "Home")</li>
                            <li>@Html.ActionLink("Childrens", "Index", "Childrens")</li>
                            <li>@Html.ActionLink("ItemToBuy", "Index", "ItemsToBuy")</li>
                            <li>@Html.ActionLink("Parents", "Index", "Parents")</li>
                            <li>@Html.ActionLink("ChildManagements", "Index", "ChildManagements")</li>
                            <li>@Html.ActionLink("Activities", "Index", "Activities")</li>
                            <li>@Html.ActionLink("Alergies", "Index", "Alergies")</li>
                            <li>@Html.ActionLink("Diseases", "Index", "Diseases")</li>
                            <li>@Html.ActionLink("PhysicalCharacteristics", "Index", "PhysicalCharacteristics")</li>
                            <li>@Html.ActionLink("Urgencies", "Index", "Urgencies")</li>
                            <li>@Html.ActionLink("ChildSupportPayments", "Index", "ChildSupportPayments")</li>
                            <li>@Html.ActionLink("ChildSupportVisits", "Index", "ChildSupportVisits")</li>
                            <li>@Html.ActionLink("Exams", "Index", "Exams")</li>
                            <li>@Html.ActionLink("ParentsMeetings", "Index", "ParentsMeetings")</li>
                            <li>@Html.ActionLink("Schools", "Index", "Schools")</li>
                            <li>@Html.ActionLink("TaskFunctions", "Index", "TaskFunctions")</li>
                            <li>@Html.ActionLink("Settings", "Settings", "Home")</li>
                            <li>@Html.ActionLink("Users", "Index", "Users")</li>
                        </ul>
                    </div>

                 

                    @Html.Partial("_LoginPartial")


            </div>
        </div>

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Aplicativo ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
